log_path: /var/log/supervisor/supervisord.log
log_level: info
processes:
    - hello:
      name: hello-world
      user: root
      autostart: True
      autorestart: True
      command: /bin/echo hello world
      redirect_stderr: True
