{% set supervisor = {
    'Debian': {
        'pip': 'python-pip',
        'package': 'supervisor',
    },
    'CentOS': {
        'pip': 'python-pip',
        'package': 'supervisor',
    },
} %}

{% set supervisor = salt['grains.filter_by'](supervisor,
    merge=salt['pillar.get']('supervisor:lookup')) %}
